.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: blueviolet;
}

.app-container h1 {
  color: pink;
  padding: 1rem;
}


