@import url("https://fonts.googleapis.com/css?family=Coiny");

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 50vw;
  background-image: url("./../assets/heartBgNew.gif");
}

.bdy{
  display: flex;
  flex-direction: row;
  font-family: "Coiny";
  font-size: 20px;
  color: darkblue;
}

.linkz{
  display: flex;
  flex-direction: row;
  font-family: "Coiny";
  color: darkblue;
  padding-right: 30px;
  font-size: 15px;
  align-content: flex-end;
}

.header{
  font-family: "Coiny";
  color: black;
  box-sizing: content-box;
}

.headerNav{
  display: flex;
  text-align: left;
  font-family: "Coiny";
  color: black;
}

.product{
  font-family: "Coiny";
  color: darkblue;
}

.mascot{
  display: flex;
}

.button{
  display: flex;
  font-family: "Coiny";
  color: azure;
  background-color: darkblue;
  flex-direction: row;
  align-items: flex-end;
}

.lablez{
  font-family: "Coiny";
  color: darkblue;
}
